@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@100..900&family=Literata:wght@100..900&display=swap');

:root {
  --primary-color: #023e8a;
  --secondary-color: #0077b6;
  --neutral-color: #00b4d8;
  --utility-color: #ff9e00;
  --tertiary-color: #ff6d00;

  --dark-bg-color: #121212;
  --dark-neutral-color: #1e1e1e;
  --dark-text-color: #e0e0e0;
  --dark-border-color: #333;

  --transition: 0.5s ease-in-out;

  --light-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --dark-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  
  --online-color: #4CAF50;
  --offline-color: #F44336;
  --away-color: #9e9e9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Crimson Pro', serif;
}

html {
  height: 100%;
}

body {
  background-color: var(--dark-text-color);
  color: var(--dark-bg-color);
  transition: var(--transition);
  height: 100vh;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}