<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum</title>
  <link rel="stylesheet" href="/frontend/static/css/style.css" />
  <link rel="stylesheet" href="/frontend/static/css/sign-in.css" />
  <link rel="stylesheet" href="/frontend/static/css/sign-up.css" />
  <link rel="stylesheet" href="/frontend/static/css/error-page.css" />
  <script type="module" src="/frontend/static/js/dom.js"></script>

<body id="body">
</body>

</html>